streamlit==1.29.0
google-generativeai
opencv-python-headless==4.8.0.76
mediapipe==0.10.9
librosa==0.10.1
SpeechRecognition==3.10.0
pydub==0.25.1
plotly==5.18.0
pyannote.audio==3.1.1
torch==2.0.1
torchaudio==2.0.2